body {
  box-sizing: border-box;
  margin: 0;
}

#navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 1em;
}

#navbar ul {
  display: flex;
  flex-direction: column;
  width: 35vw;
  justify-content: space-evenly;
}

#navbar li {
  list-style: none;
}

#social-links {
  align-self: baseline;
}

#twitter-icon {
  height: 50px;
  margin-top: -10px;
}
#github-icon {
  height: 67px;
  margin-top: -17px;
}

@media screen and (min-width: 750px) {
  #navbar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 1em;
  }

  #navbar ul {
    display: flex;
    flex-direction: row;
    width: 35vw;
    justify-content: space-evenly;
  }
}
