body {
  box-sizing: border-box;
  margin: 0;
}

#under-construction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(130deg, #e7f1f2, #bfc7d0);
}

#text-background {
  background: linear-gradient(90deg, red, orange, green, blue, purple, violet);
  background-size: 800% 800%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;

  -webkit-animation: AnimationName 45s ease infinite;
  -moz-animation: AnimationName 45s ease infinite;
  animation: AnimationName 45s ease infinite;
}

#under-construction-box {
  width: max-content;
  padding: 3em;
  align-self: center;
  background: white;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 3em gray;
}

#under-construction h1,
#under-construction h2,
#under-construction h3,
#under-construction h4 {
  color: transparent;
  line-height: 2em;
}
#under-construction a {
  color: black;
}

#under-construction a:hover {
  color: rgb(242, 191, 60);
}

.emoji {
  font-size: 2em;
}

#header-nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 1.5em 0;
}

#header-nav nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#headshot {
  float: right;
}

#headshot img {
  height: 20em;
  margin-top: 5px;
}

#homepage-bio {
  line-height: 180%;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

@media only screen and (max-width: 700px) {
  #under-construction-box {
    width: 90vw;
  }

  #header-nav {
    flex-direction: column;
    align-items: center;
  }
  #header-nav a {
    padding-bottom: 0.5em;
  }

  body {
    margin: 1em;
  }
}
