body {
  box-sizing: border-box;
  margin: 0;
}

#under-construction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#under-construction h4 {
  line-height: 2em;
}
